<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diploma">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/diploma_logo"
        android:label="yourNote"
        android:roundIcon="@drawable/diploma_logo"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".ViewSoundNoteActivity"  android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"/>
        <activity android:name=".ViewListNoteActivity"  android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"/>
        <activity android:name=".ViewPhotoNoteActivity"  android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"/>
        <activity android:name=".ViewTextNoteActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"/>

        <activity android:name=".SoundNoteActivity" android:screenOrientation="portrait"  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"/>
        <activity android:name=".ListNoteActivity"  android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"/>
        <activity android:name=".PhotoNoteActivity" android:screenOrientation="portrait"  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"/>
        <activity android:name=".TextNoteActivity" android:screenOrientation="portrait"  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"/>

        <activity android:name=".HomeActivity" android:screenOrientation="portrait"  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"/>
        <activity android:name=".MainActivity"  android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|screenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>


    <!--        android:theme="@style/AppTheme"-->
