<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diploma">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/diploma_logo"
        android:label="yourNote"
        android:roundIcon="@drawable/diploma_logo"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".SoundNoteActivity"></activity>
        <activity android:name=".ViewSoundNoteActivity" />
        <activity android:name=".ListNoteActivity" />
        <activity android:name=".ViewListNoteActivity" />
        <activity android:name=".ViewPhotoNoteActivity" />
        <activity android:name=".ViewTextNoteActivity" />
        <activity android:name=".PhotoNoteActivity" />
        <activity android:name=".TextNoteActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>


    <!--        android:theme="@style/AppTheme"-->
